<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css" media="screen">
    <title>{{ timeinfo.start_datetime.strftime("%c") }}</title>
</head>
<body class="stopped">


    <div class="top">
        <div class="top_content">
            <a href="/reports">&#8592; Reports</a>
            <div class="boxes">
                <div class="top_box box_rps box_running">
                    <div class="label">DURATION</div>
                    <div class="value" >{{ timeinfo.duration|string }}</div>
                </div>
                <div class="top_box box_rps box_running">
                    <div class="label"># REQUESTS</div>
                    <div class="value" >{{ stats.entries[-1].num_requests }}</div>
                </div>
                <div class="top_box box_rps box_running" id="box_rps">
                    <div class="label">API RESPONSE TIME</div>
                    <div class="value" id="total_rps">{{ stats.entries[-1].avg_response_time|round|int }} ms</div>
                </div>
                <div class="top_box box_rps box_running" id="box_rps">
                    <div class="label">RPS</div>
                    <div class="value" id="total_rps">{{ stats.entries[-1].total_rps|round(1) }}</div>
                </div>
                <div class="top_box box_rps box_running" id="box_max_users">
                    <div class="label">USERS</div>
                    <div class="value"><span id="total_rps">{{ stats.max_users }}</span></div>
                </div>
                <div class="top_box box_fail box_running" id="box_fail">
                    <div class="label">FAILURES</div>
                    <div class="value"><span id="fail_ratio">{{ (100 * stats.entries[-1].num_failures / stats.entries[-1].num_requests)|round(1) }}</span>%</div>
                </div>
                <div class="top_box box_stop box_running" id="box_stop">
                    <a href="/stop"><img src="/static/img/stop.png" style="border:0;"></a>
                </div>
                <div class="top_box box_stop box_running" id="box_reset">
                    <a href="/stats/reset">Reset Stats</a>
                </div>
            </div>
        </div>
    </div>



    <div class="status" id="status">
        <div class="main">
            <div class="panes">


                <p style="color: #00bb00" >Requests</p>
                <div style="display; block">
                    <table id="stats" class="stats">
                        <thead>
                            <tr>
                                <th class="stats_label" href="#" data-sortkey="method">Type</th>
                                <th class="stats_label" href="#" data-sortkey="name">Name</th>
                                <th class="stats_label numeric" href="#" data-sortkey="num_requests" title="Number of successful requests"># requests</th>
                                <th class="stats_label numeric" href="#" data-sortkey="num_failures" title="Number of failures"># fails</th>
                                <th class="stats_label numeric" href="#" data-sortkey="median_response_time" title="Median response time">Median</th>
                                <th class="stats_label numeric" href="#" data-sortkey="avg_response_time" title="Average response time">Average</th>
                                <th class="stats_label numeric" href="#" data-sortkey="min_response_time" title="Min response time">Min</th>
                                <th class="stats_label numeric" href="#" data-sortkey="max_response_time" title="Max response time">Max</th>
                                <th class="stats_label numeric" href="#" data-sortkey="avg_content_length" title="Average response size">Content Size</th>
                                <th class="stats_label numeric" href="#" data-sortkey="current_rps" title="Total number of requests per second"># reqs/sec</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in stats.entries %}
                            <tr class="{{ "dark" if loop.index % 2 == 0 else " " }}
                                       {{ "total" if entry.name|lower == "total" }}">
                                    <td>{{ entry.method or "  " }}</td>
                                    <td>{{ entry.name }}</td>
                                    <td class="numeric">{{ entry.num_requests }}</td>
                                    <td class="numeric">{{ entry.num_failures }}</td>
                                    <td class="numeric">{{ entry.median_response_time }}</td>
                                    <td class="numeric">{{ entry.avg_response_time|round|int }}</td>
                                    <td class="numeric">{{ entry.min_response_time }}</td>
                                    <td class="numeric">{{ entry.max_response_time }}</td>
                                    <td class="numeric">{{ entry.avg_content_length }}</td>
                                    <td class="numeric">{{ entry.total_rps|round(2) }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <br><br><br>
                <p style="color: #aa0000">Failures</p>
                <div style="display; block">
                    <table id="errors" class="stats">
                        <thead>
                            <th class="error_count stats_label" data-sortkey="1"># fails</th>
                            <th class="stats_label" href="#" data-sortkey="method">Method</th>
                            <th class="stats_label" href="#" data-sortkey="name">Name</th>
                            <th class="error_type stats_label" data-sortkey="0">Type</th>
                        </thead>
                        <tbody>
                            {% for entry in stats.errors %}
                            <tr class="{{ "dark" if loop.index % 2 == 0 else " " }}">
                                <td>{{ entry.occurences }}</td>
                                <td>{{ entry.method }}</td>
                                <td>{{ entry.name }}</td>
                                <td>{{ entry.error }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <br><br><br>
                <p style="color: #bbbbbb">API-nameserver propagation times</p>
                <img src="/../files/{{ propagation_plot }}" height=680>

                <br><br><br>
                <p style="color: #bbbbbb">Query response times</p>
                <img src="/../files/{{ query_plot }}" height=680>

            </div>
        </div>

    </div>
</body>
